---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$font-size-h1:     36px;
$base-line-height: 1.5;

$spacing-unit:     30px;
$background-color: #f5f5f5;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// colors taken from https://yeun.github.io/open-color/swatches.html
$color-cyan8:      #0c8599;
$color-teal7:      #0ca678;
$color-green6:     #40c057;
$color-base:       #111111;
$color-brand:      $color-teal7;
$color-brand-dark: darken($color-brand, 10%);
$text-color:       $color-base;

$max-content-width: 700px;
$min-content-width: 600px;
$sidebar-width: 237px;


html {
    height: 100%;
}

// the super basics
body {
    box-sizing: border-box;
    position: relative;
    background-color: $background-color;
    color: $text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    padding: 0;
    margin: 0;

    min-height: 100%;
    padding-bottom: 100px + $spacing-unit * 2;
}

main {
    max-width: $max-content-width;
    margin-top: $spacing-unit;
    margin-left: auto;
    margin-right: auto;

    h1 {
        margin: 0;
    }
    h2 {
        margin: 0;
    }
}

footer {
    color: white;
    background-color: $color-brand;
    padding: $spacing-unit $spacing-unit;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.green-block {
    color: white;
    background-color: $color-brand;
    padding: 5px 15px;
    display: inline-block;
}

$shadow-padding-horizontal: 7px;
$shadow-padding-vertical: 3px;
.green-shadow {
    color: white;
    background-color: $color-brand;
    box-shadow:  $shadow-padding-horizontal  0   0 $color-brand,
                -$shadow-padding-horizontal  0   0 $color-brand,
                -$shadow-padding-horizontal  $shadow-padding-vertical 0 $color-brand,
                 $shadow-padding-horizontal  $shadow-padding-vertical 0 $color-brand,
                 // stop scss to evaluate this
                -$shadow-padding-horizontal -#{$shadow-padding-vertical} 0 $color-brand,
                 $shadow-padding-horizontal -#{$shadow-padding-vertical} 0 $color-brand;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-width;
    margin-top: -$spacing-unit;

    &-header {
        @extend .green-block;
        text-decoration: none;
        font-size: $font-size-h1;
        &:hover {
            text-decoration: underline;
        }
    }

    &-description {
        @extend .green-block;
        margin-top: 5px;
    }

    &-section {
        display: block;
    }

    &-links {
        @extend .green-block;
        margin-top: 5px;
    }

    &-sitemap {
        @extend .green-block;
        margin-top: 5px;

        ul {
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
            }
        }
    }

    &-url {
        a {
            &:before {
                content: '>>';
                letter-spacing: -9px;
                margin-right: 15px;
                transition: all 0.5s ease;
            }
            color: white;
            text-decoration: none;
        }

        &:hover {
            a:before {
                letter-spacing: -3px;
                margin-right: 10px;
            }
        }

        &-active {
            text-decoration: underline;
        }
    }

}

.post {
    &-title {
        font-size: $font-size-h1;
        font-weight: bold;
    }

    &-date {
        display: block;
        margin-bottom: $spacing-unit / 2;
    }

    &-separator {
        margin-top: $spacing-unit * 2;
        margin-bottom: $spacing-unit * 2;

        &:last-of-type {
            border-color: transparent;
        }
    }

    &-author-container {
        padding-left: $shadow-padding-horizontal;
    }

    &-author {
        @extend .green-shadow;
        &:before {
            content: "---";
            letter-spacing: -2px;
        }
    }

    a {
        color: $color-brand;
        &:visited {
            color: $color-brand-dark;
        }
    }

    &-excerpt {
        font-size: 18px;
        line-height: 35px;
        padding-left: $shadow-padding-horizontal;
        &-inner {
            @extend .green-shadow;
        }
    }
}

.home {
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;

        a {
            color: $text-color;
            text-decoration: none;
        }
    }
}

// if the content reaches the sidebar
// sidebarwidth + spacing + content + spacing + sidebarwidth
@media (max-width: ($sidebar-width * 2 + $max-content-width + $spacing-unit * 2)) {
    main {
        width: calc(100% - #{($sidebar-width + $spacing-unit * 2)});
        margin-left: $sidebar-width + $spacing-unit;
    }
}

// if the content is smaller than min-content-width, put the sidebar to the top
@media (max-width: ($sidebar-width + $min-content-width + $spacing-unit * 2)) {
    .sidebar {
        margin-top: 0;
        position: relative;
    }

    main {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }
}
