<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
	<title>{{ site.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.tagline}}{% endif %}">

	<!-- Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/images/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}/images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/images/favicon-16x16.png">
	<link rel="manifest" href="{{site.baseurl}}/manifest.json">
	<meta name="msapplication-TileColor" content="#9B9B9B">
	<meta name="msapplication-TileImage" content="{{site.baseurl}}/mstile-150x150.png">
	<meta name="theme-color" content="#9B9B9B">

	<!-- CSS & fonts -->
	{% capture styles %}
	{% include main.scss %}
	{% endcapture %}

	<style>
	{{ styles | scssify }}
	</style>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58665819-4"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-58665819-4');
	</script>


</head>
