// i inline the css via the includes, front-matter would break this
// ---
// # Only the main Sass file needs front matter (the dashes are enough)
// ---
@charset "utf-8";

// Our variables
$base-font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$font-size-h1:     36px;
$base-line-height: 1.75;

$color-frame-border: 8px;

$spacing-unit:     30px;
$background-color: #f5f5f5;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// colors taken from https://yeun.github.io/open-color/swatches.html and
// https://material.io/guidelines/style/color.html#color-color-palette
$color-cyan8:      #0c8599;
$color-teal5:      #20c997;
$color-teal7:      #0ca678;
$color-teal8:      #099268;
$color-green6:     #40c057;
$color-base:       #111111;
$color-brand-light: $color-teal5;
$color-brand:      $color-teal7;
$color-brand-dark: $color-teal8;
$text-color:       $color-base;

$screen-xs: 480px;
$screen-sm-min: 481px;

$max-content-width: 630px;
$min-content-width: 500px;


// box-sizing for every element
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

// the super basics
body {
    position: relative;
    background-color: $background-color;
    color: $text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    padding: 0;
    margin: 0;
    padding-top: $color-frame-border;

    // for the footer
    min-height: 100%;
    padding-bottom: 160px + $spacing-unit * 2;
}

main {
    display: block; // IE-11
    max-width: $max-content-width;
    margin-top: $spacing-unit;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: block;
    color: white;
    background-color: $color-brand;
    padding: $spacing-unit $spacing-unit;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    a {
        color: white;
    }
}

//
// UTILITY CLASSES
//

.hidden {
    display: none;
}

.clearfix {
    content: "";
    clear: both;
    display: block;
    height: 0px;
}

.brand-color-block {
    color: white;
    background-color: $color-brand;
    padding: 5px 15px;
    display: inline-block;
}

$shadow-padding-horizontal: 7px;
$shadow-padding-vertical: 3px;
.brand-color-shadow {
    color: white;
    background-color: $color-brand;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow:  $shadow-padding-horizontal  0   0 $color-brand,
                -$shadow-padding-horizontal  0   0 $color-brand,
                -$shadow-padding-horizontal  $shadow-padding-vertical 0 $color-brand,
                 $shadow-padding-horizontal  $shadow-padding-vertical 0 $color-brand,
                 // stop scss to evaluate this
                -$shadow-padding-horizontal -#{$shadow-padding-vertical} 0 $color-brand,
                 $shadow-padding-horizontal -#{$shadow-padding-vertical} 0 $color-brand;
}

//
// PAGE HEADER
//

.page-header-container {
    margin-top: $spacing-unit;
    text-align: center;
    .page-header {
        @extend .brand-color-block;

        display: inline-block;
        font-size: 24px;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//
// NAV
//

.nav {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    &-url {
        color: $color-brand;
        text-decoration: none;
    }
}

//
// POST LIST
//

.other-posts {
    margin-top: $spacing-unit * 2;
}

.post-list {
    margin: 0;
    padding: 0;
    > li {
        list-style-type: none;
        a {
            text-decoration: none;
            color: $color-brand;
        }
    }
}

//
// POST
//

.post {

    &:after {
        @extend .clearfix;
    }

    //
    // Tag styles
    //

    h1 {
        margin: 0;
    }
    h2 {
        margin: 0;
    }

    ul {
        > li {

        }
    }

    a {
        color: $color-brand-light;
        text-decoration: none;
        &:visited {
            color: $color-brand-dark;
        }

        &:hover {
            text-decoration: underline;
        }
    }


    blockquote {
        margin: 0;
        padding-left: 20px;
        border-left: 0.25em solid $color-brand;
    }

    &-title {
        font-size: $font-size-h1;
        font-weight: bold;
    }

    &-date {
        display: block;
        margin-bottom: $spacing-unit / 2;
    }

    &-url.post-url {
        color: $text-color;
        text-decoration: none;
        &:visited {
            color: $text-color;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    &-separator {
        margin-top: $spacing-unit * 2;
        margin-bottom: $spacing-unit * 2;

        &:last-of-type {
            border-color: transparent;
        }
    }

    &-author-container {
        padding-left: $shadow-padding-horizontal;
        float: none;
        clear: both;
        margin-top: $spacing-unit;
    }

    &-author {
        @extend .brand-color-shadow;
        &:before {
            content: "---";
            letter-spacing: -2px;
        }
    }

    &-content {
        // figure {
        //     overflow-x: scroll;
        // }
    }

    &-excerpt {
        font-size: 18px;
        line-height: 35px;
        padding-left: $shadow-padding-horizontal;
        &-inner {
            @extend .brand-color-shadow;
        }
    }

    &-image-container {
        width: 100%;
        display: inline-block;
        &--zoomed {
            .post-image-text {
                width: 100%;
            }
            .post-image-image {
                width: 100%;
                &:hover {
                    cursor: zoom-out;
                }
            }
        }
    }

    &-image-image {
        float: left;
        width: 50%;
        &:hover {
            cursor: zoom-in;
        }
        img {
            width: 100%;
        }
    }

    &-image-text {
        font-size: $small-font-size;
        float: left;
        width: 50%;
        padding-left: 20px;
    }
}

//
// HOME / INDEX
//

.home {
    > ul {
        margin: 0;
        padding: 0;
        > li {
            list-style-type: none;
        }
    }

}


//
// Responsive styles
//

@media (max-width: $screen-xs) {
    .page-header-container {
        margin-top: 0;
    }
    .post {

        &-image-image {
            width: 100%;
        }

        &-image-text {
            width: 100%;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .post {
        background: white;
        padding: 20px;
    }
}

// if the content is smaller than min-content-width, put the sidebar to the top
@media (max-width: ($min-content-width + $spacing-unit * 6)) {
    main {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }
}

.color-frame {
    position: fixed;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 99;
    border: $color-frame-border solid $color-brand-light;
    border-image: linear-gradient(135deg, #{$color-brand-light}, #{$color-brand-dark}) 1;
    top: 0;
}

/* css highlight */
.highlighter-rouge {
    background: lighten($grey-color, 45%);
    padding: 2px 5px;
    color: $color-brand-dark;
}

.highlight  {
    font-size: 13px;
    margin: 0;
    // margin-left: -20px;
    padding-left: 20px;
    overflow-x: auto;
    background: #272822;
}
.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
