<div class="sidebar">
    <a href="//{{site.url}}" class="sidebar-header">
        Hi. I'm Tom.
    </a>
    <div class="sidebar-section">
        <div class="sidebar-description">
            This is my Blog.
            <br/>
            Thanks for looking by.
        </div>
    </div>
    <div class="sidebar-section">
        <div class="sidebar-links">
            External Links
            <br/>
            <div class="sidebar-url">
                <a href="https://github.com/TN1ck">Github</a>
            </div>
            <div class="sidebar-url">
                <a href="https://www.linkedin.com/in/tom-nick-50515110b">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="sidebar-section">
        <div class="sidebar-sitemap">
            Recent Posts
            <ul>
                {% for post in site.posts %}
                    <li>
                        <div class="sidebar-url {% if page.url == post.url %} sidebar-url-active {% endif %}">
                            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
