---
layout: default
---

<div class="nav">
    <a class="nav-url" href="//{{site.url}}">Home</a>
</div>
<article class="post">

    <header class="post-header">
        <h1 itemprop="headline" class="post-title">{{ page.title | escape }}</h1>
        <meta itemprop="name" content="{{ page.title | escape }}" />
        <time itemProp="datePublished" class="post-date">{{ page.date | date: "%b %-d, %Y" }}</time>
    </header>

    <div class="post-excerpt">
        <span class="post-excerpt-inner">
            {{ page.excerpt }}
        </span>
    </div>

    <div class="post-content">
        {{ page.content }}
    </div>

    <div class="post-author-container">
        <span class="post-author" itemprop="author">
            {{ page.author }}
        </span>
    </div>

</article>
